body,
ul,
h1 {

    padding: 0;
    margin: 0;
}

/* navigation */

.nav-container {

    display: flex;
    justify-content: space-between;
}



li {

    list-style: none;
}

a {

    text-decoration: none;
}

.sub-nav-container {

    display: flex;
    gap: 40px;
}

header {

    margin: 0 195px;
}




/* section one  */

.section-one img {

    width: 480px;
    height: 260px;
}

.section-one {

    display: flex;
    justify-content: center;
    margin-top: 100px;


}

.section-one h1 {

    font-size: 40px;
}

.section-one div {

    width: 400px;
    margin-right: 50px;
}

/* section two  */

.small-box {

    height: 140px;
    width: 140px;


    border: 1px solid black;
}

.four-box-holder {

    display: flex;
    justify-content: center;
    gap: 70px;
}

.section-two {

    text-align: center;
}

.section-two p {

    width: 145px;
}

.section-two h2 {

    margin-bottom: 50px;
}

/* section three */

.section-three {
    margin-top: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-three p {

    padding: 0 290px;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;

}

.section-three span {
    font-size: 21px;
    margin-left: 835px;

}


/* section four */

.section-four {
    border-radius: 10px;



    margin: 0 300px;
    padding: 50px;
    margin-top: 100px;
    display: flex;

}

.section-four h3,
.section-four p {

    margin: 0;
    padding: 0;
}

.section-four .text-section {

    flex: 2;
    ;
}

footer {
    text-align: center;
    margin-top: 100px;
    width: 95.4%;
    height: 20px;
    padding: 30px;

}

/* adding colors */

.color-me-darkblue {
    background-color: #1F2937;
    padding-bottom: 80px;
    padding-top: 40px;

}

.color-me-darkblue .section-one h1 {

    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;


}

.color-me-darkblue header nav>h1 {

    font-size: 24px;
    color: #F9FAF8;
}

.color-me-darkblue .sub-nav-container li a,
.section-one p {

    font-size: 18px;
    color: #E5E7EB;
}



.small-box {

    border: 2px solid #3882F6;
    border-radius: 15px;
}


.section-two h2 {

    color: #1F2937;
    font-size: 36px;
}


.section-three {

    background-color: #E5E7EB;
}


.section-four {

    background-color: #3882F6;
    color: white;
}

footer {

    background-color: #1F2937;
    color: white;
}

/* changing fonts  */

h1,
h2,
h3 {

    font-family: "Montserrat", sans-serif;

}

p,
span,
a {
    font-family: "Open Sans", sans-serif;
}

button {

    padding: 0 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 14px;


}